body {
    font-style: italic;
    font-size: 16px;
    line-height: 3em;
    text-align: center;
    text-decoration: tomato;
}
h1 {
    color: orangered;
    font-family: sans-serif;
    font-size: 65px;                
}
p{
    font-weight: 600px;
    font-size: 3em;
}

ul {
    background-color: grey;
}

.fundo {
    background-color: blue;
}