.title, .subtitle {
    text-align: center;
}

.userQuestions {
    width: 80%;
    margin: 0 10% 0 10%;
    margin-inline: 20%;
}

.userQuestions form {
    display: inline-block;
    padding: 10px;
    border: 1px solid black;
    margin: 0 auto;
    width: 0 50%;

}

.main-content {
    width: 80%;
    margin: 0 10% 0 10%;
    line-height: 20px;
}