
h1, h3 { 
    text-align: center; 
}
ul { 
    text-align: center; 
    list-style: none; }
ul li { 
    text-align: center; 
    display: inline;
}
.center { 
    margin: 0 auto; 
    text-align: center; 
    display: table; 
    width: 35%; 
}

.first, .second, .third { 
    padding: 20px 0; 
    font-size: 20px; 
}  

.first { 
    background-color: rgb(235, 200, 84); 
    padding: 20px 0; 
    margin: 5px auto; 
    display: block; 
    width: 20%; 
}
.second { 
    background-color: rgb(219, 219, 219); 
    float: left; 
    width: 49.7%; 
}

.third { 
    background-color: rgb(170, 142, 106); 
    float: right; 
    width: 49.7%; 
}



/*
Não consegui fazer o código, peguei exemplo para estudo

https://github.com/silvainvic/Trybe2/blob/main/trybe-exercises/basis-of-development-web/introduction-html-and-css/day-four/hackathon.html


*/