.btn-add-cart {
  background-color: rgb(0, 155, 255);
  border: solid 1px rgb(0, 155, 255);
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin: 0 10px;
  padding: 10px;
  transition: 0.2s;
}

.btn-add-cart:hover {
  background-color: rgb(18, 189, 26);
  border: solid 1px rgb(18, 189, 26);
  border-radius: 8px;
}
