div:nth-child(3){
    color: red;
}

div:nth-child(3) h3:hover{
    border-width: 10px;
    border-style: double;
    border-color: red;
}

div:nth-child(3) h3{
    font-family: monospace;
}

div:nth-child(4) {
    color: blue;
}

div:nth-child(4) h3:hover {
    border-width: 10px;
    border-style: dotted;
    border-color: blue;
}

div:nth-child(4) h3{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div:nth-child(5) {
    color: green;
}

div:nth-child(5) h3:hover {
    border-width: 10px;
    border-style: groove;
    border-color: green;
}

div:nth-child(5) h3{
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}

div:nth-child(6) {
    color: goldenrod;
}

div:nth-child(6) h3:hover {
    border-width: 10px;
    border-style: ridge;
    border-color: goldenrod;
}

div:nth-child(6) h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div:nth-child(7) {
    color: fuchsia;
}

div:nth-child(7) h3:hover {
    border-width: 10px;
    border-style: inset;
    border-color: fuchsia;
}

div:nth-child(7) h3{
    font-family: serif;
}

div:nth-child(odd){
    font-style: italic;
}



/*
1 - Estilize as divs para que, ao passar o cursor por cima das mesmas, elas ganhem uma borda.
2 - Faça cada div ter uma cor própria.
3 - Estilize cada uma das tags h3 .
4 - Faça a terceira div ser maior que as demais.
5 - Deixe as tags ímpares h3 com o texto em itálico.
*/