.answersContainer {
  display: flex;
  flex-direction: column;
}

.answersContainer button {
  border-radius: 6px;
  margin: 1.5rem 0;
  padding: 1rem 2rem;
}

.correctAnswer:disabled {
  border: 3px solid rgb(6, 240, 15);
}

.wrongAnswer:disabled {
  border: 3px solid red;
}
